.my-progress-bar {
    position: relative;
    height: 100px;
    width: 100px;
}

.my-progress-bar div {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.my-progress-bar div span {
    position: absolute;
    font-family: Arial;
    font-size: 25px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    left: 12.5px;
    top: 12.5px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}

.my-progress-bar .background { background-color: #b3cef6; }

.my-progress-bar .rotate {
    clip: rect(0 50px 100px 0);
    background-color: #4b86db;
}

.my-progress-bar .left {
    clip: rect(0 50px 100px 0);
    opacity: 1;
    background-color: #b3cef6;
}

.my-progress-bar .right {
    clip: rect(0 50px 100px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
}

@keyframes
toggle {  0% {
    opacity: 0;
}
    100% {
        opacity: 1;
    }
}

#uploads {
    display:block;
    position:relative;
}

#uploads li {
    list-style:none;
}

#drop {
    width: 90%;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px;
    border: 8px dotted grey;
}

#drop.hover {
    border: 8px dotted green;
}

#drop.err {
    border: 8px dotted orangered;
}