.uploadimage-container {
    border:1px #ccc solid;
    padding:1px;
    padding-bottom:0;
    cursor:pointer;
    font-size:13px;
    width:100%;
}

.uploadimage-container input {
    font-size:13px;
    clear:both;
    width:250px;
    height:40px;
    border:0;
    margin-bottom:1px;
}

.uploadimage-container ul {
    list-style-type:none;
}

li.uploadimage-images {
    position: relative;
    bottom: 0;
    border:1px #BBD8FB solid;
    padding:3px;
    background:#F3F7FD;
}

.uploadimage-close {
    background: url('../images/close.png') no-repeat 0px 0px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}